<%= div_for team do %>
  <tr>
    <% if !team.image_path.nil? || !team.image_path.blank? %>
        <td><%= image_tag team.image_path, size: "40x40" %><%= link_to team.name, team %></td>
    <% else %>
        <td><%= image_tag "default_team.png", size: "40x40" %><%= link_to team.name, team %></td>
    <% end %>
    <% if team.user %>
      <td class="text-center"><%= team.user.username %></td>
    <% else %>
      <td class="text-center">Free Team</td>
    <% end %>
    <td class="text-center"><%= @index %></td>
    <td class="text-center"><%= team.league.name %></td>
    <% if current_user.id == team.user_id %>
      <td class="text-center">
        <%= link_to 'Transfers', transfers_team_path(team), method: :post, :class => 'btn btn-default btn-xs' %>
        <%= link_to 'Leave Team', drop_team_path(team), method: :get, :class => 'btn btn-xs btn-danger' %>
      </td>
    <% end %>
  </tr>
<% end %>