<% provide(:title, @team.name) %>
<div class="row">
  <div class="divs">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <% if @team.image_path.nil? %>
          <%= @team.name %>
          <% else %>
            <%= image_tag @team.image_path, size: "150x150" %>
            <%= @team.name %>
          <% end %>
        </h1>
      </section>
    </aside>
    <aside class="col-md-8">
      <% if @team.players.any? %>
          <h1>All Players</h1>
          <h3>Players (<%= @team.players.count %>)</h3>
          <table class="table table-hover table-striped">
            <thead>
            <tr class="info">
              <th>Name</th>
              <th>Team</th>
              <th>Position</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <%= will_paginate @players%>
            <%= render @players %>
            </tbody>
          </table>
          <%= will_paginate @players%>
      <% end %>
    </aside>
  </div>
</div>
