<% provide(:title, 'Transfers') %>

<script>
  var sell = [];
  var buy = [];

  var allPlayers;
  var myPlayers;

  $(document).ready(function () {
    allPlayers = $("#listAllPlayers").DataTable({
      select: {
        style: 'multi',
        info: false
      },
      "bLengthChange":false,
      "pageLength": 15,
      "pagingType": 'simple'
      //"info": false
    });
    myPlayers = $("#listPlayers").DataTable({
      select: {
        style: 'multi',
        info: false
      },
      "searching":false,
      "paging": false,
      "info": false,
      "ordering":false,
      "order": []
    });



    allPlayers.on('select', function (e,dt,type,indexes){
      if (type === 'row') {
        var data = allPlayers.rows(indexes).nodes().to$();
        rowSelection(data,true,buy,-1);
      }
    });
    allPlayers.on('deselect', function (e,dt,type,indexes){
      if (type === 'row') {
        var data = allPlayers.rows(indexes).nodes().to$();
        rowSelection(data,false,buy,1);
      }
    });


    myPlayers.on('select', function (e,dt,type,indexes){
      if (type === 'row') {
        var data = myPlayers.rows(indexes).nodes().to$();
        rowSelection(data,true,sell,1);
      }
    });
    myPlayers.on('deselect', function (e,dt,type,indexes){
      if (type === 'row') {
        var data = myPlayers.rows(indexes).nodes().to$();
        rowSelection(data,false,sell,-1);
      }
    });
  });

  function rowSelection(row,selected,array,change){
    var id = row.attr('id');
    var budget = parseInt($("#teamBudget").text(),10);
    var value = parseInt(row.find('td:last').text(),10);
    if(selected){

      array.push(id);
      $("#teamBudget").text(budget+value*change);
    }
    else{

      var ind = $.inArray(id, array);
      if(ind != -1){
        array.splice(ind, 1);
      }
      $("#teamBudget").text(budget+value*change);
    }
  }

  function recarregaAllPlayers(){

    var positionFilter = $('#positionFilter option:selected').attr('id');
    var valueFilter = $('#valueFilter option:selected').text();
    window.open("/teams/<%= @team.id %>/transfers?positionFilter="+positionFilter+"&valueFilter="+valueFilter,"_self");
  };

  function confirmaTransferencia(){
    $.ajax({
      type: "POST",
      url: "/teams/<%= @team.id %>/transfer",
      data: {
        'buy': buy,
        'sell': sell
      },
      success: function(){
        location.reload();
      }
    });
  };
</script>

<div class="row">
  <div class="divs box-body table-responsive">
    <div class="row" style="align-items: baseline; position: relative">
      <div id="playerSearch" class="pesquisa">
        <div class="campo-pesquisa">
          <label>See</label>
            <select class="btn btn-default" id="positionFilter">
              <option selected id="-1">All players</option>
              <option id="1">Goalkeeper</option>
              <option id="2">Defender</option>
              <option id="3">Midfielder</option>
              <option id="4">Forward</option>
            </select>
        </div>
        <div class="campo-pesquisa">
          <label>Maximum value</label>
            <select class="btn btn-default" id="valueFilter">
              <option selected id="-1">Unlimited</option>
              <option>100</option>
              <option>90</option>
              <option>80</option>
              <option>70</option>
              <option>60</option>
              <option>55</option>
            </select>
        </div>
        <div class="botao-pesquisa">
          <button type="button" class="btn btn-info" onclick = "recarregaAllPlayers()"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
      </div>

    </div>
    <div>
    <aside id="playersEdit" class="col-md-6 transfer" style="padding-right: 2%;">
      <h3>Players</h3>
      <div class="row">
        <table id="listAllPlayers" class="table table-bordered table-condensed" style="float: right;background-color: #FFFFFF">
          <thead>
          <tr class="info">
            <th class="text-center" style="background-color:lightgrey;">Name</th>
            <th class="text-center" style="background-color:lightgrey;">Team</th>
            <th class="text-center" style="background-color:lightgrey;">Position</th>
            <th class="text-center" style="background-color:lightgrey;">Value</th>
          </tr>
          </thead>
          <tbody>
            <%= render @allplayers %>
          </tbody>
        </table>
      </div>
    </aside>
    <aside class="col-md-6 transfer" style="padding-left: 3%;text-align: center;">
      <% if @team.players.any? %>
          <h3>My Team</h3>

          <label id="teamBudget" style="margin-bottom: 20px;">Budget: <%= @team.budget %></label>

          <div class="row">
            <table id="listPlayers" class="table table-bordered table-condensed" style="background-color: #FFFFFF">
              <thead>
                <tr class="info">
                  <th class="text-center" style="background-color:lightgrey;">Name</th>
                  <th class="text-center" style="background-color:lightgrey;">Team</th>
                  <th class="text-center" style="background-color:lightgrey;">Position</th>
                  <th class="text-center" style="background-color:lightgrey;">Value</th>
                </tr>
              </thead>
              <tbody>
                <% @players.where(position: "GK").each do |player| %>
                    <%= render player %>
                <% end %>
                <% @players.where(position: "DEF").each do |player| %>
                    <%= render player %>
                <% end %>
                <% @players.where(position: "MID").each do |player| %>
                    <%= render player %>
                <% end %>
                <% @players.where(position: "FOR").each do |player| %>
                    <%= render player %>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </aside>
    <button type="button" class="btn btn-success pull-right btn-lg" onclick = "confirmaTransferencia()">Confirm Transfer</button>
  </div>
  </div>



</div>