<% provide(:title, "New League") %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datepicker
    ({
      minDate: 0,
      format: "dd-mm-yyyy",
      weekStart: 1,
      autoclose: true
    });
  });
</script>

<div class="divs">
  <h1 class="text-center">New League</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@league) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :initial_date%>
          <%= f.text_field :initial_date, :class =>"datepicker" %>

          <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>