<% provide(:title, @league.name) %>

<script>
  $(document).ready(function () {
    $("#listTeams").DataTable({
      "order": []
    });


  });

</script>

<div class="divs">
  <div class="col-md-offset-2 col-xs-8">
    <div class="box">

      <div class="col-md-offset-4 col-md-4">
        <h3 class="text-center text-capitalize"><%= @league.name %></h3>
        <%= button_to "Fixtures", journeys_show_path , :method => :get, class:"btn btn-primary" %>
      </div>
      <div class="col-md-offset-4 col-md-4">
        <h4 class="text-center"><a data-toggle="modal" data-target="#<%= @lastid1 %>" class="clickable"><%= @lastj1 %></a> <%= @last %> <a data-toggle="modal" data-target="#<%= @lastid2 %>" class="clickable"><%= @lastj2 %></a></h4>
        <h4 class="text-center"><%= @next %><a data-toggle="modal" data-target="#<%= @nextid %>" class="clickable"><%= @nextj %></a></h4>
      </div>
      <% if @league.teams.any? %>
          <% @teams.each do |team| %>
              <%= render "teams/modal", team: team %>
          <% end %>
          <div class="row">
            <div class="box-body table-responsive">
              <table id="listTeams" class="table table-bordered table-hover table-condensed" style="background-color: #FFFFFF">
                <thead>
                <tr class="info">
                  <th class="text-center" style="background-color:lightgrey;">Position</th>
                  <th class="text-center" style="background-color:lightgrey;">Team</th>
                  <th class="text-center" style="background-color:lightgrey;">User</th>
                  <th class="text-center" style="background-color:lightgrey;">Points</th>
                  <th class="text-center" style="background-color:lightgrey;">Victories</th>
                  <th class="text-center" style="background-color:lightgrey;">Draws</th>
                  <th class="text-center" style="background-color:lightgrey;">Defeats</th>
                </tr>
                </thead>
                <tbody>
                <% @teams.each do |team| %>
                    <tr data-toggle="modal" data-target="#<%=team.id%>" class="clickable">
                      <% if team.total_score %>
                          <td class="text-center"><%= @teams.index(team) + 1 %>ยบ</td>
                      <% else %>
                        <td class="text-center">-</td>
                      <% end %>
                      <% if team.image_path.nil? %>
                          <td><%= image_tag "default_team.png", size: "30x30" %><%=  team.name %></td>
                      <% else %>
                          <td><%= image_tag team.image_path, size: "30x30" %><%= team.name %></td>
                      <% end %>
                      <% if current_user.teams.any? || current_user.admin %>
                          <% if !team.user %>
                              <td class="text-center">Free</td>
                          <% else %>
                              <td class="text-center"><%= team.user.username %></td>
                          <% end %>
                      <% else %>
                          <% if !team.user %>
                            <td class="text-center">Free
                            <%= link_to choose_team_path(team), method: :post, data: { confirm: "Are you sure?"} do %>
                                <span class="glyphicon glyphicon-check"></span>
                            <% end %></td>
                          <% else %>
                            <td class="text-center"><%= team.user.username %></td>
                          <% end %>
                      <% end %>
                      <% if team.total_score %>
                          <td class="text-center"><%= team.total_score %></td>
                          <td class="text-center"><%= team.victories %></td>
                          <td class="text-center"><%= team.draws %></td>
                          <td class="text-center"><%= team.defeats %></td>
                      <% else %>
                          <td class="text-center">-</td>
                          <td class="text-center">-</td>
                          <td class="text-center">-</td>
                          <td class="text-center">-</td>
                      <% end %>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

