<% provide(:title, @league.name) %>

<script>
  $(document).ready(function () {
    $("#listTeams").DataTable();


  });

</script>

<div class="divs">
  <div class="col-md-offset-2 col-xs-8">
    <div class="box">
      <h3 class="text-center text-capitalize"><%= @league.name %></h3>
      <a href="/leagues/new" class="shiftView btn btn-app">
        <i class="fa fa-plus"></i>
        New
      </a>
      <% if @league.teams.any? %>
          <div class="row">
            <div class="box-body table-responsive">
              <table id="listTeams" class="table table-bordered table-hover" style="background-color: #FFFFFF">
                <thead>
                <tr class="info">
                  <th class="text-center" style="background-color:lightgrey;">Name</th>
                  <th class="text-center" style="background-color:lightgrey;">User</th>
                  <th class="text-center" style="background-color:lightgrey;">League</th>
                </tr>
                </thead>
                <tbody>
                <% @teams.each do |team| %>
                    <tr>
                      <% if team.image_path.nil? %>
                          <td><%= link_to team.name, team %></td>
                      <% else %>
                          <td><%= image_tag team.image_path, size: "30x30" %><%= link_to team.name, team %></td>
                      <% end %>
                      <% if !team.user %>
                          <td class="text-center">Free</td>
                      <% else %>
                        <td class="text-center"><%= team.user.username %></td>
                      <% end %>
                      <td class="text-center"><%= team.league.name %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

