<% provide(:title, @user.username) %>
<div class="row">
  <div class="divs box-body table-responsive">
    <aside class="col-md-4">
      <section class="user_info text-center">
        <div class="pull-left">
          <%= gravatar_for @user %>
          <h1 style="padding-top: 80px;"><%= @user.username %></h1>
          <p class="text-center"><b>Coach points: </b><%= @user.coach_points %></p>
        </div>
        <% if current_user == @user %>
            <%= button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "btn btn2 btn-primary" %>
        <% end %>
      </section>
    </aside>
    <aside class="col-md-8">
      <% if @user.teams.any? %>
          <% if @user.teams.count == 1 %>
            <h3>My Team</h3>
          <% else %>
            <h3>My Teams</h3>
          <% end %>
          <table class="table table-bordered table-hover" style="background-color: #FFFFFF">
            <thead>
            <tr class="info">
              <th class="text-center" style="background-color:lightgrey;">Team</th>
              <th class="text-center" style="background-color:lightgrey;">User</th>
              <th class="text-center" style="background-color:lightgrey;">Place</th>
              <th class="text-center" style="background-color:lightgrey;">League</th>
              <% if current_user == @user %>
                  <th class="text-center" style="background-color:lightgrey;">Actions</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
              <%= render @teams %>
            </tbody>
          </table>
      <% end %>
    </aside>
    </div>
</div>