<tr>
  <td>
    <% if request.env['PATH_INFO'].include? "/edit" %>
      <a href="#">
      <% if current_user.id == player.team_id %>
          <span class="glyphicon glyphicon-minus-sign" style="color: darkred"></span>
      <% else %>
          <span class="glyphicon glyphicon-plus-sign" style="color: darkred"></span>
      <% end %>
      </a>
    <% end %>

    <% if player.image_path.nil? %>
      <%= link_to player.name, player %>
    <% else %>
      <%= image_tag player.image_path, size: "40x40" %><%= link_to player.name, player %>
    <% end %>
  </td>

  <td class="text-center"><%= player.team.name %></td>
  <td class="text-center"><%= player.position %></td>
  <td class="text-center"><%= player.value %></td>
</tr>