<tr id="<%= player.id %>">
  <td>
    <% if !player.image_path.nil? %>
      <%= image_tag player.image_path, size: "40x40" %>
    <% end %>
    <%= link_to player.name, player %>
  </td>

  <td class="text-center"><%= player.team.name %></td>
  <td class="text-center"><%= player.position %></td>
  <td class="text-center"><%= player.value %></td>
</tr>