<tr id="<%= player.id %>">
  <td>
    <% if request.env['PATH_INFO'].include? "/edit" %>

      <% if current_user.id == player.team.user_id %>
          <span onclick="removePlayer(<%= player.id %>)" class="glyphicon glyphicon-minus-sign" style="color: darkred"></span>
      <% else %>
          <span onclick="addPlayer(<%= player.id %>)" class="glyphicon glyphicon-plus-sign" style="color: darkred"></span>
      <% end %>

    <% end %>

    <% if !player.image_path.nil? %>
      <%= image_tag player.image_path, size: "40x40" %>
    <% end %>
    <%= link_to player.name, player %>
  </td>

  <td class="text-center"><%= player.team.name %></td>
  <td class="text-center"><%= player.position %></td>
  <td class="text-center"><%= player.value %></td>
</tr>