<% provide(:title, "Journeys") %>
<% jogos="" %>

<script>var jogos=new Array()
function journeyToJavascript(games,teams){
  var gamess=games.split("][");
  for(x=0;x<gamess.length-1;x++) {
    gamess[x] = gamess[x] + "]";
    gamess[x + 1] = "[" + gamess[x + 1];
  }for(x=0;x<gamess.length;x++) {
    var gamesStr=JSON.parse(gamess[x]);
    for(y=0;y<gamesStr.length;y++){
      var scr="---";
      if(gamesStr[y].score!=null){
        scr=gamesStr[y].score;
      }
      var t1=searchTeamName(gamesStr[y].team1_id,teams);

      var t2=searchTeamName(gamesStr[y].team2_id,teams);
      jogos[y]=new Array(gamesStr[y].journey_id,t1,t2,scr);
    }
  }
  //for(x=0;x<jogos.length;x++) {
  //alert(jogos[0]);
  //}
}

function searchTeamName(id, teams){
  if(teams[0]=="{"){
    teams="["+teams+"]";
  }
  teams=JSON.parse(teams);
  for(x=0;x<teams.length;x++){
    if(id==teams[x].id){
      return teams[x].name;
    }
  }
  return "ERROR";
}

function changedslct(sel){
  var dv=document.getElementById("gPresent");
  var jdt=sel.value;
  var jn=sel.options[sel.selectedIndex].text;
  jn=jn.substr(jn.indexOf(" ")+1);
  var next="<h3></h3><table class=\"j-table-all\"><thead><tr><th colspan='3' class='thJ'> Journey "+jn+"<br>"+jdt+"</th></tr></thead><tbody>";

  for(x=20*(jn-1);x<jogos.length;x++){
    if(jogos[x][0]==jn){
      next+="<tr><td>"+jogos[x][1]+"</td><td>"+jogos[x][3]+"</td><td>"+jogos[x][2]+"</td></tr>";
    }
  }

  next+="</tbody></table>";
  dv.innerHTML=next;
}
</script>

<div class="divs">
  <select id="jselect" onchange="changedslct(this)" style="background: transparent;
      font-size: 14px;
      height: 29px;
      padding: 5px;width: 268px;
      position: absolute;
      right: 39%;"
  >
    <% @journeys.each do |journey| %>
        <% jogos=jogos+journey.games.to_json %>
        <% if(journey.date == Date.today()) %>
            <option value="<%= journey.date %>" selected>Journey <%= journey.number %></option>
        <% else %>
            <option value="<%= journey.date %>" >Journey <%= journey.number %></option>
        <% end %>
    <% end %>
  </select>
  <%= javascript_tag "var games='#{jogos}';" %>
  <%= javascript_tag "var teams='#{@teams.to_json}';" %>
  <script>
    journeyToJavascript(games,teams);
    $(document).ready(function(){
      $("#jselect").trigger("change");}
    );
  </script>
  <div id="gPresent"></div>
</div>

