<% provide(:title, "Fixtures") %>
<script>
  var jogos=new Array()
function searchTeamName(id, teams){

 for(c=0;c<teams.length;c++){
   if(id==teams[c].id){
    return teams[c].name;
   }
 }
  return "ERROR";
}

function changedslct(sel){

  var dv=document.getElementById("gPresent");
  var jdt=sel.value;
  var jn=sel.selectedIndex;
  var jogos2=JSON.parse(jogos[jn]);
  console.log(jogos[jn]);
  var next="<table class=\"j-table-all\"><thead><tr><th colspan='3' class='thJ'> Matchday "+(jn+1)+"<br>"+jdt+"</th></tr></thead><tbody>";
  for(x=0;x<jogos2.length;x++){
    var scr = "---";

    if (jogos2[x].team1_score != null && jogos2[x].team2_score != null) {
      scr = jogos2[x].team1_score+" - "+jogos2[x].team2_score;
    }
    var t1 = searchTeamName(jogos2[x].team1_id, teams);
    var t2 = searchTeamName(jogos2[x].team2_id, teams);
      next+="<tr>" +
          "<td data-toggle='modal' data-target='#"+jogos2[x].team1_id+"' class='clickable'>"+t1+"</td>" +
          "<td href='#resultgame' data-toggle='modal' data-target='#resultgame"+jogos2[x].id+"' class='clickable'>"+scr+"</td>" +
          "<td data-toggle='modal' data-target='#"+jogos2[x].team2_id+"' class='clickable'>"+t2+"</td>" +
          "</tr>";
  }

  next+="</tbody></table>";
  dv.innerHTML=next;
  var frm=document.getElementById("selectedf");
  var wurl=window.location.href;
  wurl=wurl.substring(0,wurl.lastIndexOf("/"));
  wurl=wurl.substring(0,wurl.lastIndexOf("/"));
  if(frm!=null) {
    frm.action = wurl + "/" + jogos2[0].journey_id + "/close";
  }
}
</script>

<div class="divs">
  <% @teams.each do|team|%>
      <%=render "teams/modal", team:team%>
  <%end%>
  <% @journeys.each do |journey| %>
      <% journey.games.each do |game|%>
        <%= render "games/modal", game: game %>
      <% end %>
  <% end %>
  <div class="col-md-4 col-md-offset-4">
    <select class="btn btn-default" id="jselect" onchange="changedslct(this)" style="font-size: 14px;">
      <% @journeys.each do |journey| %>
          <%= javascript_tag "jogos.push('#{journey.games.to_json}');" %>
          <% if(journey.date == Date.today()) %>
              <option value="<%= journey.date %>" selected>Matchday <%= journey.number %></option>
          <% else %>
              <option value="<%= journey.date %>" >Matchday <%= journey.number %></option>
          <% end %>
      <% end %>
    </select>
    <% if current_user.admin %>
      <%= button_to "Close Matchday", close_journey_path, :method => :get, :form => { :id => "selectedf" }, class:"btn btn2 btn-danger" %>
      <%= button_to "Close All Matchdays", close_all_journeys_path, :method => :get, :form => { :id => @journeys.first.league_id }, class:"btn btn2 btn-danger" %>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2 btn1" id="gPresent"></div>
  <%= javascript_tag "var teams='#{@teams.to_json}';" %>
  <script>
    teams=JSON.parse(teams);
    $("#jselect").trigger("change");
  </script>

</div>

