<div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Virtual Football League", root_path, id: "logo" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <% if current_user.teams.any? %>
            <li><%= link_to "TEAM", team_path(current_user.teams.first) %></li>
            <li><%= link_to "LEAGUE", league_path(current_user.teams.first.league_id) %></li>
          <% else %>
            <li><%= link_to "TEAMS", teams_path %></li>
            <li><%= link_to "LEAGUES", leagues_path %></li>
          <% end %>
            <% if (current_user.admin? && !current_user.nil?) %>
                <li><%= link_to "USERS", users_path %></li>
            <% end %>
          <li><%= link_to "PROFILE", current_user %></li>
          <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
          <li><%= link_to "RULES", rules_path %></li>
          <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "RULES", rules_path %></li>
            <li><%= link_to "LOG IN", login_path %></li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
